 DOMAIN=yourdomain.com

POSTGRES_PASSWORD=strong_random_password_here

RABBITMQ_USER=orkestro
RABBITMQ_PASSWORD=strong_random_password_here

JWT_SECRET=very_long_random_secret_at_least_64_chars

MINIO_URL=https://storage.yandexcloud.net
MINIO_ACCESS_KEY=your_static_key_id
MINIO_SECRET_KEY=your_static_key_secret
MINIO_BUCKET=orkestro
MINIO_REGION=ru-central1

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_FROM=noreply@yourdomain.com
SMTP_USERNAME=your_brevo_login_email
SMTP_PASSWORD=your_brevo_smtp_key

BOT_TOKEN=TELEGRAM_BOT_TOKEN